* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
    height: 1024px;
    padding: 30px;
    font-size: 0;
}

.long-left-box {
    /* width: 262px; */
    display: inline-block;
    width: calc(((291 * 100) / 1380) * 1% - 29px);
    background-color: #808080;
    height: 964px;
    margin-right: 29px;
}

.right-section {
    display: inline-block;
    width: calc(((1089 * 100) / 1380) * 1%);
}

nav {
    height: 80px;
    background-color: #808080;
    margin-bottom: 30px;
}


.four-boxes-each {
    /* width: 249px; */
    width: calc((100% - 90px) / 4);
    height: 200px;
    background-color: #808080;
    display: inline-block;
}

.four-boxes-each-1, .four-boxes-each-2, .four-boxes-each-3 {
    margin-right: 30px;
}

.middle-four-boxes {
    margin-bottom: 30px;
}

.big-box {
    /* width: 809px; */
    width: calc(((839 * 100) / 1089) * 1% - 30px);
    height: 624px;
    background-color: #808080;
    margin-right: 30px;
    display: inline-block;
}

.skinny-box {
    /* width: 250px; */
    width: calc(((250 * 100) / 1089) * 1%) ;
    height: 624px;
    background-color: #808080;
    display: inline-block;
}
