* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1728px;
    margin: 0 auto;
    padding: 0 144px 20px;
    font-size: 0;
    background-color: #f5f5f5;
}

nav {
    height: 80px;
    background-color: #808080;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
}

.top-box-1 {
    /* width: 947px; */
    width: calc(((967 * 100) / 1440) * 1% - 20px);
    margin-right: 20px;
    height: 460px;
    background-color: #808080;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
}

.top-boxes {
    margin-bottom: 40px;
}

.top-box-2 {
    /* width: 473px; */
    width: calc(((473 * 100) / 1440) * 1%);
    height: 460px;
    background-color: #808080;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
}

.bottom-box-1 {
    /* width: 710px; */
    width: calc(((730 * 100) / 1440) * 1% - 20px);
    height: 497px;
    background-color: #d9d9d9;
    margin-right: 20px;
    display: inline-block;
    vertical-align: top;
    padding: 20px 0;
}

.bottom-box-1-inner-box {
    /* width: 223px; */
    width: calc((100% - 40px) / 3);
    height: 457px;
    background-color: #808080;
    display: inline-block;
    font-size: 24px;
    color: #000;
    line-height: 29px;
}

.bottom-box-1-inner-box-left {
    margin-right: 20px;
}

.bottom-box-1-inner-box-middle {
    margin-right: 20px;
}

.bottom-box-2 {
    /* width: 710px; */
    width: calc(((710 * 100) / 1440) * 1%);
    height: 497px;
    background-color: #808080;
    display: inline-block;
    font-size: 24px;
    color: #fff;
    line-height: 29px;
}
