/* header-section */

.header-content {
    padding: 4rem 10rem;
}

header img {
    height: auto;
    width: 18.2rem;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

nav {
    width: calc(100% - 18.2rem);
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin-right: 3rem;
    text-align: center;
}

ul li {
    display: inline-block;
}

ul a {
    font-size: 3rem;
    color: #8a94a6;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    text-decoration: none;
}

li:not(:last-child) {
    margin-right: 3rem;
}

header button {
    padding: 1.6rem 3.3rem;
    color: #fff;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
    background-color: #377dff;
    border-radius: 1rem;
    border: none;
    display: inline-block;
}

/* hero-section */

.hero-content {
    padding: 10.8rem 10rem;
    background-color: #fafbfc;
}

.hero-text-wrapper {
    text-align: center;
}

.hero-text-wrapper h1 {
    color: #323b4b;
    font-family: Inter;
    font-size: 6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.3rem;
}

.hero-text-wrapper p {
    color: #8a94a6;
    font-family: Inter;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 3.5rem;
    width: calc(((805 * 100) / 1240) * 1%);
    margin: 4rem auto;
}

.hero-each-card {
    width: calc((100% - 6.4rem) / 3);
    padding: 4.1rem 3.1rem;
    border-radius: 1.5rem;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
}

.hero-each-card:not(:last-child) {
    margin-right: 3.2rem;
}

.icons {
    margin-bottom: 3rem;
}

.hero-each-card h2 {
    color: #323b4b;
    font-family: Inter;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.4rem;
    margin-bottom: 2.1rem;
}

.hero-each-card p {
    color: #8a94a6;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    margin-bottom: 1.6rem;
}

.last-part-wrapper p {
    color: #377dff;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    display: inline-block;
    vertical-align: top;
}

.last-part-wrapper p:not(:last-child) {
    margin-right: 1.5rem;
}

.last-part-wrapper img {
    display: inline-block;
    vertical-align: top;
}

/* form-section */

.form-content {
    padding: 12rem 31rem;
}

.input-text {
    text-align: center;
}

.input-text h2 {
    color: #323b4b;
    font-family: Inter;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.8rem;
}

.input-text p {
    color: #8a94a6;
    text-align: center;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
    margin: 2.8rem auto 5.2rem;
}

input::placeholder,
textarea::placeholder {
    color: #b0b7c3;
}

.name-input,
.company-name-input,
input[type="email"],
input[type="tel"],
textarea {
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
}

.middle-inputs input {
    width: calc((100% - 3.3rem) / 2);
    border-radius: 1rem;
    border: 0.2rem solid #fafbfc;
    background-color: #fff;
    padding: 2rem 2.5rem;
}

.middle-inputs .first-part input:first-child,
.middle-inputs .second-part input:first-child {
    margin: 0 3.3rem 4.3rem 0;
}

.middle-inputs textarea {
    width: 100%;
    height: 29.6rem;
    border-radius: 1rem;
    border: 0.2rem solid #fafbfc;
    background-color: #fff;
    padding: 1.5rem 2.5rem;
    margin-bottom: 5rem;
}

.terms-wrapper {
    display: inline-block;
    width: calc(((387 * 100) / 820) * 1%);
    margin-right: calc(((161 * 100) / 820) * 1%);
}

.terms-wrapper input {
    width: 2rem;
    height: 2rem;
    margin-right: 1.7rem;
    vertical-align: middle;
}

.terms-wrapper label {
    color: #8a94a6;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    vertical-align: middle;
}

input[type="submit"] {
    border-radius: 1rem;
    background-color: #377dff;
    color: #fff;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.4rem;
    padding: 2rem 0;
    border: none;
    width: calc(((272 * 100) / 820) * 1%);
    cursor: pointer;
}

/* footer-section */

.footer-content {
    padding: 13.2rem 10rem;
}

.logo-about {
    display: inline-block;
    /* width: calc((((426 * 100) / 1240) * 1%) - 144px);
    margin-right: 144px; */
    width: calc(((282 * 100) / 1240) * 1%);
    margin-right: calc(((143 * 100) / 1240) * 1%);
}

.logo-about p {
    color: #8a94a6;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3.5rem;
    margin-bottom: 3.2rem;
}

.logo-about img {
    cursor: pointer;
}

.logo-about > img {
    margin-bottom: 2.8rem;
}

.socials-icons img:not(:last-child) {
    margin-right: 2.4rem;
}

.dribble-fb {
    margin-right: 2.4rem;
}

.dribble-fb,
.twitter-youtube {
    display: inline-block;
}

.each-nav {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    width: calc((100% - 24rem - 28.2rem - 14.3rem) / 4);
    margin-right: 8rem;
}

.portfolio {
    margin-right: 0;
}

.each-nav a {
    display: block;
}

.each-nav h4 {
    color: #323b4b;
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 2.9rem;
    margin-bottom: 2.7rem;
}

.each-nav a {
    color: #8a94a6;
    font-family: Inter;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.4rem;
    text-decoration: none;
}

.each-nav a:not(:last-child) {
    margin-bottom: 1.9rem;
}

.copy-right {
    color: #8a94a6;
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 10rem;
}
